@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
</head>
<body>
    <div>
        <h1>这是我的第一个MVC程序页面</h1>
    </div>
</body>
</html>
